page-subproject {
    ion-item{
        border: 2px solid color($colors, task_border) !important;
        border-radius: 2px;
        margin-top: 10px !important;

        ion-label{
            color: color($colors, dark);
        }
    }
    
    ion-checkbox{
        position: absolute !important;
        right: 0px !important;
        top: 15% !important;
    }
}
