<ion-header>
  <ion-navbar>
    <ion-title>
       {{currentProject.name}}
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addQuickTask()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-grid>

    <ion-row *ngIf="taskList.length == 0">
      <ion-col text-center>
        <h4>Projet vide</h4>
      </ion-col>
    </ion-row>

  </ion-grid>



  <ion-list>

    <ion-item color="task_bg" *ngFor="let task of taskList">
      <ion-label>
        <div>
          <ion-icon *ngIf="task.priority == 'normal'" color="priority-3" name="bookmark"></ion-icon>
          <ion-icon *ngIf="task.priority == 'important'" color="priority-2" name="bookmark"></ion-icon>
          <ion-icon *ngIf="task.priority == 'absolue'" color="priority-1" name="bookmark"></ion-icon>
          {{task.content}}
        </div>
      </ion-label>
      <ion-checkbox (ionChange)="removeTask(task.id)"></ion-checkbox>
    </ion-item>

  </ion-list>

  

</ion-content>