<ion-header>
  <ion-navbar>
    <ion-title>General</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addQuickTask()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  
</ion-header>

<ion-content padding>

  <ion-grid *ngIf="taskList.length == 0">
    <ion-row>
      <ion-col text-center>
        <h2>Alors rien à faire ?</h2>
        <h4>Vérifiez vos projets en cours</h4>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <button ion-button full (tap)="goProjects()">Projets</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <button ion-button full color="secondary" (tap)="goAdds()" >Ajouter tâches/projets</button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>

    <ion-item color="task_bg" *ngFor="let task of taskList">
      <ion-label>
        <div>
          <ion-icon *ngIf="task.priority == 'normal'" color="priority-3" name="bookmark"></ion-icon>
          <ion-icon *ngIf="task.priority == 'important'" color="priority-2" name="bookmark"></ion-icon>
          <ion-icon *ngIf="task.priority == 'absolue'" color="priority-1" name="bookmark"></ion-icon>
          {{task.content}}
        </div>
      </ion-label>
      <ion-checkbox (ionChange)="removeTask(task.id)"></ion-checkbox>
    </ion-item>


  </ion-list>

</ion-content>